.footer {
  background: #020617;
  color: #e5e7eb;
  text-align: center;
  padding: 40px 20px;
}

.footer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: contain;   /* IMPORTANT */
  padding: 8px;
  box-shadow: 0 0 14px #38bdf8;
  margin-bottom: 10px;
  background: white;
}


.footer h3 {
  color: #38bdf8;
  margin-bottom: 5px;
}

.footer p {
  margin: 4px 0;
  font-size: 14px;
}

copyright {
  margin-top: 15px;
  font-size: 13px;
  color: #94a3b8;
}
