.navbar {
  background: #0f172a;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #38bdf8;
  font-weight: bold;
  font-size: 18px;
}

.logo-section img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: contain;   /* IMPORTANT */
  padding: 6px;
  box-shadow: 0 0 12px #38bdf8;
  background: white;
}


/* DESKTOP ACTION ICONS */
.nav-actions {
  display: flex;
  gap: 12px;
}

.nav-actions a {
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.2s;
}

.nav-actions a:hover {
  transform: scale(1.2);
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #38bdf8;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* MOBILE */
.mobile-icons {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-actions {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    right: 0;
    background: #020617;
    flex-direction: column;
    width: 240px;
    padding: 20px;
    gap: 15px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mobile-icons a {
    color: #38bdf8;
    text-decoration: none;
  }
}
